{% extends 'base.html' %} 
{% block title %}Dashboard{% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-4 bg-secondary">
        <div class="card-body">
          <!-- <a class="btn btn-success" href="/create">Add post</a> -->
          <h2>Dashboard</h2>
          <table class="table mt-3 table-hover table-bordered table-light">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Server Name</th>
                <th scope="col">Subscription</th>
                <th scope="col">Invite Link</th>
                <th scope="col">Description</th>
                <th scope="col">Last Share Time</th>
                <th scope="col">Update Subscription</th>
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
              <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
                <!-- Dropdown form for subscription level -->
                <td>
                  <form action="/edit" method="POST">
                    <div class="input-group">
                      <select class="form-select" id="sub-level" name="sub-level" onchange="this.form.submit()">
                        <option selected>Select Subscription</option>
                        <option value="{{row[0]}}[{(..++--**//)}]0">0</option>
                        <option value="{{row[0]}}[{(..++--**//)}]1">1</option>
                        <option value="{{row[0]}}[{(..++--**//)}]2">2</option>
                        <option value="{{row[0]}}[{(..++--**//)}]3">3</option>
                      </select>
                    </div>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
