{% extends 'base.html' %} 
{% block title %}Dashboard{% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <div class="card-body">
          <!-- <a class="btn btn-success" href="/create">Add post</a> -->
          <strong>Dashboard</strong>
          <table class="table mt-3 table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Server Name</th>
                <th scope="col">Subscription</th>
                <th scope="col">Invite Link</th>
                <th scope="col">Description</th>
                <th scope="col">Last Share Time</th>
                <th scope="col">Update Subscription</th>
                <!-- <th scope="col">Apply</th> -->
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
              <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
                <!-- Dropdown form for subscription level -->
                <td>
                  <div class="col text-center">
                    <form action="/edit" method="POST">
                          <div class="input-group">
                            <select class="custom-select" id="sub-level">
                              <option value="{{row[0]}} 0">0</option>
                              <option value="{{row[0]}} 1">1</option>
                              <option value="{{row[0]}} 2">2</option>
                              <option value="{{row[0]}} 3">3</option>
                            </select>
                            <div class="input-group-append">
                              <input class="btn btn-primary" type="submit" value="submit">
                            </div>
                          </div>
                    </form>
                  </div>
                </td>
                <!-- Button to Save changes -->
                <!-- <td>
                  <div class="col text-center">
                    <a class="btn btn-primary" href="/edit?username={{row[0]|replace("#", "%23")}}">Update</a>
                  </div>
                </td> -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
